{% extends 'base.html.twig' %}



{% block content %}
    <section class="content blog-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>       {{ user.username }}
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Profil</a></li>
                        <li class="breadcrumb-item active"><a href="blog-dashboard.html">Profil</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row clearfix">

                {% for allObjets in allObjet %}
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="card product_item">
                            <div class="body">
                                <div class="cp_img">


                                    {% if allObjets.namePhoto is not null %}


                                        <img src="{{ asset('assets/files/photo/objet/')~ allObjets.namePhoto }}" alt="Product" class="img-fluid" />

                                    {% else %}
                                        <img src="{{ asset('assets/Oreo/images/ecommerce/1.png') }}" alt="Product" class="img-fluid" />
                                    {% endif %}


                                    <div class="hover">
                                        <a href="{{ path('objet_detail', {'objet': allObjets.id}) }}" class="btn btn-primary waves-effect"><i class="zmdi zmdi-plus"></i></a>
                                    </div>
                                </div>
                                <div class="product_details">
                                    <h5><a href="ec-product-detail.html">{{ allObjets.nom }}</a></h5>
                                    <ul class="product_price list-unstyled">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>



        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="card profile-header">
                        <div class="body">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-12">
                                    <div class="profile-image">

                                        {% if user.namePhoto is not null %}
                                            <img src="{{ asset('assets/files/')~ user.namePhoto  }}" alt="">
                                        {% else %}
                                            <div class="profile-image"> <img src="{{ asset('assets/Oreo/images/profile_av.jpg') }}" alt=""> </div>
                                        {% endif %}



                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>




        </div>
        </div>

    </section>


    {#<section class="content ecommerce-page">#}
    {#<div class="block-header">#}
    {#<div class="row">#}
    {#<div class="col-lg-7 col-md-6 col-sm-12">#}
    {#<h2>Mes demande#}
    {#<small>Mes demande de troc</small>#}
    {#</h2>#}
    {#</div>#}
    {#<div class="col-lg-5 col-md-6 col-sm-12">#}
    {#<ul class="breadcrumb float-md-right">#}
    {#<li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Accueil</a></li>#}
    {#<li class="breadcrumb-item"><a href="ec-dashboard.html">Groupe</a></li>#}
    {#<li class="breadcrumb-item active">Produit</li>#}
    {#</ul>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="container-fluid">#}

    {#<!-- Bordered Table -->#}
    {#<div class="row clearfix">#}
    {#<div class="col-lg-12 col-md-12 col-sm-12">#}
    {#<div class="card">#}
    {#<div class="header">#}
    {#<h2><strong>Bordered</strong> Table <small>Add <code>.table-bordered</code> for borders on all sides of the table and cells.</small> </h2>#}
    {#<ul class="header-dropdown">#}
    {#<li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>#}
    {#<ul class="dropdown-menu dropdown-menu-right">#}
    {#<li><a href="javascript:void(0);">Action</a></li>#}
    {#<li><a href="javascript:void(0);">Another action</a></li>#}
    {#<li><a href="javascript:void(0);">Something else</a></li>#}
    {#</ul>#}
    {#</li>#}
    {#<li class="remove">#}
    {#<a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>#}
    {#</li>#}
    {#</ul>#}
    {#</div>#}
    {#<div class="body table-responsive">#}
    {#<table class="table table-bordered">#}
    {#<thead>#}
    {#<tr>#}
    {#<th>Mon Objet</th>#}
    {#<th>Objet demander</th>#}
    {#<th>Username</th>#}
    {#<th>date</th>#}
    {#<th>Action</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}


    {#{% for demandeByUsers in demandeByUser %}#}

    {#{{ dump(demandeByUsers) }}#}
    {#<tr>#}
    {#<th scope="row">{{ demandeByUsers.objectAchteur.nom }}</th>#}
    {#<td>{{ demandeByUsers.objectVendeur.nom }}</td>#}
    {#<td>{{ demandeByUsers.userVendeur.username }}</td>#}
    {#<td>date a mettre gedmo</td>#}
    {#<td>Annuler</td>#}
    {#</tr>#}




    {#{% endfor %}#}

    {#</tbody>#}
    {#</table>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<!-- #END# Bordered Table -->#}


    {#</div>#}
    {#</div>#}
    {#</section>#}





{% endblock %}