{{ form_start(searchAmis)}}



<div class="input-group ">

    {{ form_widget(searchAmis.username, {'label': false,'attr': {'class': 'form-control', 'type': 'text', 'placeholder': "Rentrer un nom d'utilisateur"}}) }}
    <span class="input-group-addon">
 {{ form_widget(searchAmis.submit, {'label': false,'attr': {'style': 'display:none','class': 'zmdi zmdi-search', 'type': 'text'}}) }}
        <i class="zmdi zmdi-search">
 {{ form_widget(searchAmis.submit, {'label': false,'attr': {'class': '', 'type': 'text'}}) }}
  </i>
</span>

</div>

{{ form_end(searchAmis)}}
