{% extends 'base.html.twig' %}


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/morrisjs/morris.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/color_skins.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/ecommerce.css') }}"/>
    {% endblock %}


{% block content %}

    <section class="content ecommerce-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Detail
                        <small>Mon Produit</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Home</a></li>
                        <li class="breadcrumb-item"><a href="ec-dashboard.html">Objet</a></li>
                        <li class="breadcrumb-item active">{{ objet.nom }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="row">
                                <div class="preview col-lg-4 col-md-12">
                                    <div class="preview-pic tab-content">


                                        {% if objet.namePhoto is not null %}

                                            <div class="tab-pane active" id="product_1"><img src="{{ asset('assets/files/photo/objet/')~ objet.namePhoto }}" class="img-fluid" /></div>

                                        {% else %}
                                            <img src="{{ asset('assets/Oreo/images/ecommerce/1.png') }}" alt="Product" class="img-fluid" />
                                        {% endif %}





                                    </div>
                                </div>
                                <div class="details col-lg-8 col-md-12">
                                    <h3 class="product-title m-b-0">{{ objet.nom }}</h3>
                                    <hr>



                                    <p class="product-description">{{ objet.description|nl2br }}</p>

                                    {#{{ form(formDemandeTroc) }}#}

                                    {% if objet.user.id != app.user.id %}


                                    {{ form_start(formDemandeTroc) }}

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(formDemandeTroc.id) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 right">
                                        {{ form_row(formDemandeTroc.submit) }}
                                    </div>

                                    {{ form_end(formDemandeTroc) }}

                                </div>

                                        {% endif %}



                            </div>
                        </div>
                    </div>
                </div>
                {#<div class="col-lg-12">#}
                {#<div class="card">#}
                {#<ul class="nav nav-tabs">#}
                {#<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#description">Description</a></li>#}
                {#<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#review">Review</a></li>#}
                {#<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#about">About</a></li>#}
                {#</ul>#}
                {#</div>#}
                {#<div class="card">#}
                {#<div class="body">#}
                {#<div class="tab-content">#}
                {#<div class="tab-pane active" id="description">#}
                {#<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>#}
                {#<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>#}
                {#</div>#}
                {#<div class="tab-pane" id="review">#}
                {#<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied</p>#}
                {#<ul class="row list-unstyled c_review">#}
                {#<li class="col-12">#}
                {#<div class="avatar">#}
                {#<a href="#"><img class="rounded" src="assets/images/xs/avatar2.jpg" alt="user" width="60"></a>#}
                {#</div>#}
                {#<div class="comment-action">#}
                {#<h5 class="c_name">Hossein Shams</h5>#}
                {#<p class="c_msg m-b-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. </p>#}
                {#<div class="badge badge-primary">iPhone 8</div>#}
                {#<span class="m-l-10">#}
                {#<a href="#"><i class="zmdi zmdi-star col-amber"></i></a>#}
                {#<a href="#"><i class="zmdi zmdi-star col-amber"></i></a>#}
                {#<a href="#"><i class="zmdi zmdi-star col-amber"></i></a>#}
                {#<a href="#"><i class="zmdi zmdi-star col-amber"></i></a>#}
                {#<a href="#"><i class="zmdi zmdi-star-outline text-muted"></i></a>#}
                {#</span>#}
                {#<small class="comment-date float-sm-right">Dec 21, 2017</small>#}
                {#</div>#}
                {#</li>#}
                {#<li class="col-12">#}
                {#<div class="avatar">#}
                {#<a href="#"><img class="rounded" src="assets/images/xs/avatar3.jpg" alt="user" width="60"></a>#}
                {#</div>#}
                {#<div class="comment-action">#}
                {#<h5 class="c_name">Tim Hank</h5>#}
                {#<p class="c_msg m-b-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>#}
                {#<div class="badge badge-primary">Nokia 8</div>#}
                {#<span class="m-l-10">#}
                {#<a href="#"><i class="zmdi zmdi-star col-amber"></i></a>#}
                {#<a href="#"><i class="zmdi zmdi-star col-amber"></i></a>#}
                {#<a href="#"><i class="zmdi zmdi-star col-amber"></i></a>#}
                {#<a href="#"><i class="zmdi zmdi-star col-amber"></i></a>#}
                {#<a href="#"><i class="zmdi zmdi-star-outline text-muted"></i></a>#}
                {#</span>#}
                {#<small class="comment-date float-sm-right">Dec 18, 2017</small>#}
                {#</div>#}
                {#</li>#}
                {#</ul>#}
                {#</div>#}
                {#<div class="tab-pane" id="about">#}
                {#<h6>Where does it come from?</h6>#}
                {#<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
            </div>
        </div>
    </section>


{% endblock %}