{{ form_start(searchObjet)}}



<div class="input-group ">

    {{ form_widget(searchObjet.nom, {'label': false,'attr': {'class': 'form-control', 'type': 'text', 'placeholder': 'Chercher un objet !'}}) }}
    <span class="input-group-addon">
 {{ form_widget(searchObjet.submit, {'label': false,'attr': {'style': 'display:none','class': 'zmdi zmdi-search', 'type': 'text'}}) }}
        <i class="zmdi zmdi-search">
 {{ form_widget(searchObjet.submit, {'label': false,'attr': {'class': '', 'type': 'text'}}) }}
  </i>
</span>

</div>

{{ form_end(searchObjet)}}
