

<!doctype html>
<html class="no-js " lang="en">
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">
    <title>Troc-Troc</title>
    {#<link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->#}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/morrisjs/morris.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/color_skins.css') }}"/>
    {% endblock %}

    {% endblock %}
</head>
<body class="theme-purple">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="{{ asset('assets/Oreo/images/logo.svg') }}" width="48" height="48" alt="Oreo"></div>
        <p>Chargement...</p>
    </div>
</div>
<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<!-- Top Bar -->
<nav class="navbar p-l-5 p-r-5">
    <ul class="nav navbar-nav navbar-left">

        <li class="hidden-sm-down">

            {{ render(controller(
                'App\\Controller\\ObjetController::searchObjet'
            )) }}

        </li>
        <li class="float-right">
            <a href="{{ path('fos_user_security_logout') }}" class="mega-menu" data-close="true"><i class="zmdi zmdi-power"></i></a>
            {#<a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a>#}
        </li>
    </ul>
</nav>

<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <div class="tab-content" >
        <div class="tab-pane stretchRight active" id="dashboard">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info" style="margin-top:20px">
                            {% if app.user.namePhoto is not null %}
                                <div class="image"> <img src="{{ asset('assets/files/')~ app.user.namePhoto  }}" alt="User"></div>
                            {% else %}
                                <div class="profile-image"> <img src="{{ asset('assets/Oreo/images/profile_av.jpg') }}" alt=""> </div>
                            {% endif %}
                            <div class="detail">
                                <h4>{{ app.user.username }}</h4>
                                <small>{{ app.user.email }}</small>
                            </div>
                            {#<a title="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a>#}
                            {#<a title="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a>#}
                            {#<a title="instagram" href="#"><i class="zmdi zmdi-instagram"></i></a>#}
                        </div>
                    </li>
                    {% block nav %}

                        {% include 'nav.html.twig' %}

                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
</aside>




{% block content %}

{% endblock %}
<!-- Jquery Core Js -->

{% block js %}
<script src="{{ asset('assets/Oreo/bundles/libscripts.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/bundles/vendorscripts.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/bundles/morrisscripts.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/bundles/jvectormap.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/bundles/knob.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/bundles/mainscripts.bundle.js') }}"></script>
<script src="{{ asset('assets/Oreo/js/pages/index.js') }}"></script>

{% endblock %}



</body>
</html>