

{% block nav %}
    <li><a href="{{ path('home') }}"><i class="zmdi zmdi-home"></i> Accueil </a></li>
    <li><a href="{{ path('filactu') }}"><i class="zmdi zmdi-account-box"></i> Ma fils d'actualités </a></li>
    <li><a href="{{ path('show_object') }}"><i class="zmdi zmdi-account-box"></i> Mon Inventaire </a></li>
    <li><a href="{{ path('troc_proposition') }}"><i class="zmdi zmdi-account-box"></i> Mes Propositions Reçues </a></li>
    <li><a href="{{ path('troc_echange') }}"><i class="zmdi zmdi-account-box-mail"></i> Mes Demandes </a></li>
    <li><a href="{{ path('profile_show') }}"><i class="zmdi zmdi-account-box-mail"></i> Mon Profil </a></li>
    <li><a href="{{ path('amis_show') }}"><i class="zmdi zmdi-account-box-mail"></i> Mes amis </a></li>
{% endblock %}


