

{% block nav %}
    <li><a href="{{ path('home') }}"><i class="zmdi zmdi-home"></i> Accueil</a></li>
    <li><a href="{{ path('show_object') }}"><i class="zmdi zmdi-accounts-list"></i>Mon Inventaire</a></li>
    <li><a href="{{ path('troc_proposition') }}"><i class="zmdi zmdi-account-box"></i>Propositions Reçue</a></li>
    <li><a href="{{ path('troc_echange') }}"><i class="zmdi zmdi-account-box-mail"></i>Mes Demandes</a></li>
    <li><a href="{{ path('profile_show') }}"><i class="zmdi zmdi-account-box-mail"></i>Mon profile</a></li>
{% endblock %}




{#<li class="active open"> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-group-work"></i><span>Groupe</span></a>#}
    {#<ul class="ml-menu">#}
        {#<li class="active"><a href="{{ path('groupe_show') }}">Mes Groupes</a> </li>#}
        {#<li><a href="{{ path('user_profil') }}">Mon Profil</a></li>#}

        {#{% if app.user.entreprise is null %}#}
            {#<li><a href="{{ path('entreprise_add') }}">Crée mon Entreprise</a></li>#}

        {#{% else %}#}

            {#<li><a href="{{ path('entreprise_show', {'id': app.user.entreprise.id}) }}">Mon Entreprises</a></li>#}

        {#{% endif %}#}



        {#<li><a href="{{ path('user_invite_notif') }}">Mes invitations</a></li>#}
    {#</ul>#}
{#</li>#}
{#{% if app.user.hasRole('ROLE_ADMIN') %}#}


    {#<li class="active open"> <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-reader"></i><span>Admin</span></a>#}
        {#<ul class="ml-menu">#}

            {#<li class="active"><a href="{{ path('dashboard_show') }}">Dashboard</a> </li>#}
            {#<li class="active"><a href="{{ path('easyadmin') }}">Admin Backend</a> </li>#}


        {#</ul>#}
    {#</li>#}

{#{% endif %}#}
