{% extends 'base.html.twig' %}


    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/bootstrap/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/plugins/morrisjs/morris.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/main.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/color_skins.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/Oreo/css/ecommerce.css') }}"/>
    {% endblock %}


{% block content %}


    <section class="content ecommerce-page">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Proposition recue
                        <small>Proposition de troc pour mes produits</small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i>Accueil</a></li>
                        <li class="breadcrumb-item"><a href="ec-dashboard.html">Groupe</a></li>
                        <li class="breadcrumb-item active">Produit</li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- Bordered Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>En attente de confirmation</strong></h2>

                    </div>
                    <div class="body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Mon Objet</th>
                                <th>Objet demander</th>
                                <th>Username</th>
                                <th>date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for demandeByVendeurs in demandeByVendeur %}


                                <tr>
                                    <th scope="row"><a href="{{ path('objet_detail', {'objet': demandeByVendeurs.objectVendeur.id}) }}"> {{ demandeByVendeurs.objectAchteur.nom }}</a>   </th>
                                    <td><a href="{{ path('objet_detail', {'objet': demandeByVendeurs.objectVendeur.id}) }}">{{ demandeByVendeurs.objectVendeur.nom }}</a> </td>
                                    <td>{{ demandeByVendeurs.userVendeur.username }}</td>
                                    <td>date a mettre gedmo</td>
                                    <td>  <a href="{{ path('accepter_proposition', {'echange': demandeByVendeurs.id}) }}">Accepter</a> <a href="{{ path('refuser_proposition', {'echange': demandeByVendeurs.id}) }}">Refuser</a> </td>
                                </tr>


                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>



        <!-- #END# Bordered Table -->









    </section>


{% endblock %}